html {
  margin: 0;
  padding: 0;
  font-family: 'Bree Serif', serif; }

h1, h2, h3 {
  text-align: center;
  font-family: 'Lobster', cursive; }

body {
  margin: 0;
  padding: 0;
  background-color: #fff; }

.container {
  clear: both;
  width: 60%;
  margin: auto;
  text-align: center; }

@media (max-width: 1600px) {
  .container {
    width: 75%; } }

@media (max-width: 1250px) {
  .container {
    width: 90%; } }

.banner {
  font-size: 1.6em;
  margin-bottom: -50px; }
  .banner img {
    width: 100%;
    height: auto; }
  .banner #Banner {
    position: absolute;
    z-index: 1; }

.Intro h1 {
  font-size: 2.3em;
  font-family: Bree Serif; }

#MainBody {
  position: relative;
  background-color: white;
  z-index: 2; }

a {
  text-decoration: none; }

#nav {
  font-size: 1.3em;
  background-color: #333;
  height: 60px; }
  #nav a.menu {
    color: #00aaff;
    padding: 16px 30px;
    margin: 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    #nav a.menu:hover {
      box-shadow: inset 0 -6px #00aaff; }
  #nav #DestDropDown {
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: #00aaff;
    padding: 16px 20px;
    margin: -16px 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    #nav #DestDropDown i {
      margin-left: 4px;
      position: relative;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    #nav #DestDropDown:hover > i {
      -webkit-transform: translateY(5px) scale(1.2);
      -ms-transform: translateY(5px) scale(1.2);
      transform: translateY(5px) scale(1.2); }
    #nav #DestDropDown:hover ~ #Dest li:nth-child(1) {
      -webkit-animation: MainMenu 300ms ease-in-out forwards;
      animation: MainMenu 300ms ease-in-out forwards; }
    #nav #DestDropDown:hover ~ #Dest li:nth-child(2) {
      -webkit-animation: MainMenu 600ms ease-in-out forwards;
      animation: MainMenu 600ms ease-in-out forwards; }
    #nav #DestDropDown:hover ~ #Dest li:nth-child(3) {
      -webkit-animation: MainMenu 900ms ease-in-out forwards;
      animation: MainMenu 900ms ease-in-out forwards; }
    #nav #DestDropDown:hover ~ #Dest li:nth-child(4) {
      -webkit-animation: MainMenu 1200ms ease-in-out forwards;
      animation: MainMenu 1200ms ease-in-out forwards; }
    #nav #DestDropDown:hover ~ #Dest ul {
      display: block; }
  #nav li {
    position: relative; }
  #nav #Dest {
    z-index: 99;
    opacity: 1;
    top: 36px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 400px; }
    #nav #Dest ul {
      height: 100px;
      top: -60px;
      display: none;
      -webkit-perspective: 1000px;
      perspective: 1000px;
      padding: 0; }
      #nav #Dest ul:hover {
        display: block; }
      #nav #Dest ul li {
        opacity: 1;
        background-color: #333;
        padding: 10px;
        display: block; }
        #nav #Dest ul li i {
          opacity: 0;
          position: absolute;
          left: -20px;
          top: 7px;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s; }
        #nav #Dest ul li a:hover > i {
          opacity: 1;
          left: -12px; }
        #nav #Dest ul li a.Selected > i {
          opacity: 1;
          left: -12px; }
        #nav #Dest ul li a {
          position: relative;
          color: #00aaff;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s; }
  #nav .active {
    box-shadow: inset 0 -6px #00aaff; }
  #nav ul.links {
    padding: 0px;
    margin: 16px 0 0 20%;
    float: left;
    text-align: center; }
    #nav ul.links li {
      display: inline-block; }
  #nav ul.btns {
    padding: 0px;
    margin: 16px 20% 0 0;
    float: right; }
    #nav ul.btns li {
      display: inline-block; }

@-webkit-keyframes MainMenu {
  0% {
    -webkit-transform: rotateY(-40deg) translateY(30px) translateX(-10px);
    transform: rotateY(-40deg) translateY(30px) translateX(-10px);
    opacity: 0; }
  100% {
    opacity: 1; }
  i {
    margin-left: .4em; } }

@keyframes MainMenu {
  0% {
    -webkit-transform: rotateY(-40deg) translateY(30px) translateX(-10px);
    transform: rotateY(-40deg) translateY(30px) translateX(-10px);
    opacity: 0; }
  100% {
    opacity: 1; }
  i {
    margin-left: .4em; } }

@media (max-width: 1600px) {
  #nav ul.links {
    margin: 16px 0 0 10%; }
  #nav ul.btns {
    margin: 16px 10% 0 0; } }

@media (max-width: 1250px) {
  #nav ul.links {
    margin: 0px 0 0 2%; }
  #nav ul.btns {
    margin: 16px 2% 0 0; }
  #nav a.menu {
    color: #00aaff;
    padding: 16px 10px; }
  #nav ul.links {
    padding: 16px 0px; } }

.MsgPopup {
  z-index: 100;
  border: 2px solid #333;
  opacity: 0;
  padding: 10px 20px 10px 10px;
  border-radius: 10px;
  margin: 20px;
  margin-bottom: -30px;
  z-index: 1000;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 240px;
  background-color: gainsboro; }
  .MsgPopup i {
    font-size: 1.5em;
    position: absolute;
    top: 5px;
    right: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    .MsgPopup i:hover {
      cursor: pointer;
      color: #00aaff; }
  .MsgPopup p {
    padding: 4px 5px 4px 16px;
    background-color: #fff;
    margin: 10px 0 0 11%;
    width: 200px;
    border-radius: 0px 20px 20px 20px;
    border: 2px solid black;
    text-align: left; }
  .MsgPopup .Help {
    position: relative;
    height: 50px; }
    .MsgPopup .Help img {
      margin: 0 10px;
      float: left;
      border-radius: 50%;
      max-width: 50px; }
    .MsgPopup .Help h3,
    .MsgPopup .Help h5 {
      position: absolute;
      top: -15px;
      left: 68px;
      float: left; }
    .MsgPopup .Help h5 {
      top: 6px; }
  .MsgPopup textarea {
    resize: none;
    outline: none;
    padding: 10px;
    margin: 5px auto 0 4px;
    width: 224px;
    min-height: 100%;
    border-radius: 20px 20px 20px 0px;
    border: 2px solid black;
    border: 0; }
  .MsgPopup h4.message {
    text-align: left;
    padding: 0;
    margin: 10px 10px 4px 10px;
    left: 0; }

.HelpBtn {
  z-index: 100;
  display: none;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background-color: gainsboro;
  border-radius: 10px 10px 0px 10px;
  margin: 10px;
  padding: 5px 0px 5px 5px;
  width: 90px;
  position: fixed;
  bottom: -50px;
  right: 0; }
  .HelpBtn:hover {
    cursor: pointer;
    color: #00aaff; }
  .HelpBtn h3 {
    margin: 10px 5px 10px 9px;
    padding: 0;
    float: left;
    text-align: left; }
  .HelpBtn i {
    margin-top: 15px; }

.Show {
  display: block;
  opacity: 1; }

.HelpBtn.Show {
  bottom: 0; }

.Hidden {
  display: none; }

.MsgPopup.Show {
  bottom: 0px; }

.fixed {
  width: 100%;
  position: fixed;
  z-index: 1000; }

.SliderContainer {
  width: 100%;
  overflow: hidden; }

.Slider {
  overflow: hidden;
  padding-top: 60px;
  position: relative;
  width: 600%;
  left: -0vw; }
  .Slider img {
    width: 100vw;
    margin: 0;
    padding: 0;
    display: inline-block;
    border-bottom: 6px solid #333; }

.topPicks,
.SpecialOffers {
  text-align: center; }
  .topPicks .Picks,
  .SpecialOffers .Picks {
    width: 70%;
    margin: auto; }
    .topPicks .Picks .itemPicks,
    .SpecialOffers .Picks .itemPicks {
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .topPicks .Picks .itemPicks .item,
      .SpecialOffers .Picks .itemPicks .item {
        min-width: 320px;
        width: 30%;
        position: relative;
        overflow: hidden;
        z-index: 1; }
        .topPicks .Picks .itemPicks .item img,
        .SpecialOffers .Picks .itemPicks .item img {
          -webkit-transition: all 10s ease;
          -moz-transition: all 10s ease;
          transition: all 10s ease; }
        .topPicks .Picks .itemPicks .item h1,
        .topPicks .Picks .itemPicks .item p,
        .SpecialOffers .Picks .itemPicks .item h1,
        .SpecialOffers .Picks .itemPicks .item p {
          z-index: 3;
          padding-left: 34px;
          color: white;
          position: absolute;
          opacity: 0;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          transition: all 0.4s;
          pointer-events: none;
          z-index: 3; }
        .topPicks .Picks .itemPicks .item p,
        .SpecialOffers .Picks .itemPicks .item p {
          padding: 65px 10px 0 10px;
          text-align: center; }
        .topPicks .Picks .itemPicks .item .onHover,
        .SpecialOffers .Picks .itemPicks .item .onHover {
          z-index: 2;
          cursor: pointer;
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0;
          background-color: #000;
          transition: all .4s; }
          .topPicks .Picks .itemPicks .item .onHover:hover,
          .SpecialOffers .Picks .itemPicks .item .onHover:hover {
            opacity: .55; }
          .topPicks .Picks .itemPicks .item .onHover:hover ~ img,
          .SpecialOffers .Picks .itemPicks .item .onHover:hover ~ img {
            -webkit-transform: scale(1.6);
            -ms-transform: scale(1.6);
            transform: scale(1.6); }
          .topPicks .Picks .itemPicks .item .onHover:hover ~ h1,
          .SpecialOffers .Picks .itemPicks .item .onHover:hover ~ h1 {
            opacity: 1; }
          .topPicks .Picks .itemPicks .item .onHover:hover ~ p,
          .SpecialOffers .Picks .itemPicks .item .onHover:hover ~ p {
            opacity: 1; }
  .topPicks a#ReadMore,
  .SpecialOffers a#ReadMore {
    border-radius: 7px;
    padding: 10px 15px;
    background-color: #333;
    color: #00aaff;
    box-shadow: 3px 3px 10px black;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    .topPicks a#ReadMore:hover,
    .SpecialOffers a#ReadMore:hover {
      box-shadow: 5px 5px 9px black;
      background-color: #222; }
  .topPicks img,
  .SpecialOffers img {
    max-width: 100%;
    margin-bottom: -7px;
    -webkit-transition: all 10s ease;
    -moz-transition: all 10s ease;
    transition: all 10s ease; }

@media (max-width: 1600px) {
  .topPicks,
  .SpecialOffers {
    text-align: center;
    font-size: .85em; }
    .topPicks .Picks,
    .SpecialOffers .Picks {
      width: 70%; }
      .topPicks .Picks .itemPicks .item p,
      .SpecialOffers .Picks .itemPicks .item p {
        padding: 45px 10px 0 10px; } }

@media (max-width: 1388px) {
  .topPicks,
  .SpecialOffers {
    font-size: .8em; }
    .topPicks .Picks,
    .SpecialOffers .Picks {
      width: 90%; }
      .topPicks .Picks .itemPicks,
      .SpecialOffers .Picks .itemPicks {
        top: 0; }
        .topPicks .Picks .itemPicks .item p,
        .SpecialOffers .Picks .itemPicks .item p {
          padding: 45px 10px 0 10px; } }

@media (max-width: 1084px) {
  .topPicks,
  .SpecialOffers {
    font-size: .8em; }
    .topPicks .Picks .itemPicks .item p,
    .SpecialOffers .Picks .itemPicks .item p {
      padding: 45px 10px 0 10px; } }

.onHover {
  z-index: 2;
  cursor: pointer;
  position: absolute;
  width: 367px;
  height: 252px;
  opacity: 0;
  background-color: #000;
  transition: all .4s; }
  .onHover:hover {
    opacity: .55; }
  .onHover:hover ~ img {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6); }
  .onHover:hover ~ h1 {
    opacity: 1; }
  .onHover:hover ~ p {
    opacity: 1; }

.CommentsTitle {
  text-align: center; }

.topComments {
  width: 65%;
  margin: 20px auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .topComments .Comment {
    position: relative;
    width: 350px;
    height: auto;
    border-radius: 6px;
    padding: 10px;
    background-color: #eee; }
    .topComments .Comment img {
      float: left;
      margin-right: 20px;
      margin-bottom: 20px;
      border-radius: 50%;
      max-width: 110px; }
    .topComments .Comment h2 {
      position: absolute;
      top: 0px;
      left: 137px; }
    .topComments .Comment h4 {
      position: absolute;
      top: 40px;
      left: 134px; }
    .topComments .Comment .place {
      position: absolute;
      top: 70px;
      left: 125px; }
    .topComments .Comment p {
      clear: both;
      margin-bottom: 45px; }
    .topComments .Comment .ratings {
      position: absolute;
      margin-top: 5px;
      float: left;
      bottom: 0; }
    .topComments .Comment .rate {
      display: inline;
      margin-right: 12px; }
    .topComments .Comment i {
      margin: 0 3px 15px 10px;
      text-align: left;
      cursor: pointer;
      -webkit-transition: all 0.15s;
      -moz-transition: all 0.15s;
      transition: all 0.15s; }
      .topComments .Comment i:hover {
        color: #00aaff; }

@media (max-width: 1600px) {
  .CommentSection {
    font-size: .85em; }
  h1.CommentsTitle,
  .topComments {
    width: 80%; } }

@media (max-width: 1250px) {
  .CommentSection {
    font-size: .8em; }
  h1.CommentsTitle,
  .topComments {
    width: 90%; } }

footer {
  clear: both;
  margin: 0;
  background-color: #ddd;
  padding: 3%; }
  footer p.Disclaimer {
    font-size: .95em;
    color: #999; }
